@import '../../assets/style/allStyle.scss';

.menuRegistration{
    position: relative;
    padding-top: 30px;

    &__wrapper{
        display: flex;
        justify-content: center;
    }

    &__wrapper-search{
        display: flex;
        justify-content: right;
    }

    &__search{
        margin-top: 23px;
        position: fixed;

        input{
            width: 100%;
            height: 40px;
            border-radius: 28px;
            border: 1px solid $borderText;
            outline: none;
            padding-left: 30px;
            box-sizing: border-box;
        }

        img{
            position: absolute;
            top: 12px;
            left: 12px;
            width: 14px;
        }
    }

    &__data{
        width: 600px;
        position: fixed;
        display: flex;
        justify-content: space-between;
    }

    &__data-user{
        padding-top: 23px;
        line-height: 18px;

        h4{
            @include poppinsMedium();

            font-size: 18px;
            color: $mainColorText;
        }

        p{
            @include poppinsMedium();

            font-size: 14px;
            color: $colorSubText;
        }
    }

    &__data-auth{
        margin-top: 23px;

        button{
            @include poppinsRegular();

            color: $almostWhite;
            border-radius: 26px;
        }
    }
    
    &__data-auth-login{

        padding: 6px 24px;
        margin-right: 16px;
        background: $mainColor;
        border: 1px solid $mainColor;
    }

    &__data-auth-registr{
        padding: 6px 34px;
        background: $btnRegistr;
        border: 1px solid $btnRegistr;
    }
}